#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #007E92; 
  --gradient-color-2: #70DEA2; 
  --gradient-color-3: #000B17;  
  --gradient-color-4: #000B17;
}

.big{
  font-size: 500%;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

.centered{
  text-align: center;
}


#cool-canvas {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

#gradient-canvas, #text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#text {
  z-index: 10;
  mix-blend-mode: difference;
}


